/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: left;
    position: relative;
    overflow: hidden;
    background-color: #1b263c;
    background-image: url(
'https://cdn.discordapp.com/attachments/1091184328643461130/1123942190540922980/werh870_The_dark_universe_contains_several_starsBlack_backgroun_ab991eeb-79c4-4166-886f-92939c7dffa0.png');
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logoShip {
    animation: shake 5s ease infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 8px);
    }
    100% {
        transform: translate(0, 0);
    }
}